.bs-docs-masthead, .bs-docs-header {
position: relative;
padding: 30px 15px;
color: #ffffff;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #206BA2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
background-repeat: repeat-x;
}